* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#0d409e, #26D2DA);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 2px;
    width: 100%;
    height: auto;
}

header nav>.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    align-items: center;
    padding: 10px 40px 0px 0px;
}

nav .navbar li {
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar li:hover{
    color: rgb(161, 159, 156);
}
.navbar img {
    transform: translateY(6px);
}

.navbar a{
    text-decoration: none;
    color:  black;
}



.header {
    position: absolute;
    left: 60px;
    top: 140px;
    text-align: justify;
    line-height: 60px;
}

.header h1,.header p {
    font-size: 3.4rem;
    font-weight: 540;
}



.list {
    background: linear-gradient(#11b0b6, #13429b);
    width: 360px;
    height: auto;
    position: relative;
    top: 30px;
    user-select: none;
    backdrop-filter: blur(35px);
    border-radius: 8px;
}


.list h2 {
    background-color: rgb(12, 65, 126);
    color: rgb(4, 34, 61);
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    font-size: 1.3rem;
}

.list ul {
    position: relative; 
    padding: 20px;
}

.list ul li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgb(138, 135, 135);
}

.list ul li:last-child {
    border-bottom: none;
}

.list ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.list ul li label input {
    border: none;
    outline: none;
    appearance: none;
    font-size: 18px;
    padding: 12px;
    width: 130%;
    background: transparent;
}

input::placeholder {
    font-size: 16px;
    color: #123447;
}

.list ul li label p {
    position: absolute;
}

.list ul li label span {
    position: relative;
    width: 32px;
    height: 22px;
    border: 1px solid rgb(152, 136, 241);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul li label span::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}

.list ul li label input:checked~p .inck {

    text-decoration: line-through;
    color: #bdb5b5;
}


.list ul li label input:checked~span {

    background-color: rgb(30, 64, 173);
    border: 1px solid rgb(11, 41, 141);
}

.list ul li label input:checked~span::before {

    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.list .btnbx{
    display: inline-block;
    width: 60px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
}
.btnbx .btn{
    width: 50%;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #000;
    
}
.btn:active{
    transform: translateX(100%);

}




@media  (width<768px){
    
.header {
    position: absolute;
    left: 30px;
    top: 100px;
    line-height: 60px;
    user-select: none;
}

.header h1, .header p {
    font-size: 2.3rem;
    font-weight: 520;
    line-height: 44px;
}


header {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    user-select: none;
}
header nav>.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;   
    padding: 6px 16px 6px 0px ; 
    user-select: none;
}

nav .navbar li {
    font-size: 1.1rem;
    user-select: none;
    
}

.navbar img{
    transform: translateY(3px);
    width: 24px;
    height: 24px;
}

}